doctype html
head
  meta(charset='UTF-8')
  title Dotinstall Lesson
  link(rel='stylesheet', href='/css/style.css', media='all')
body
  h1 Dotinstall Lesson
  ul
    li
      a(href="./stopWatch/index.html") stop watch

  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='/js/script.js')
